node_modules
build
.DS_Store
subgraph.yaml
.bin

# Ignore codege generated for specific contract addresses
generated/*

# Track generic contract generated code
!generated/schema.ts
!generated/GenArt721
!generated/GenArt721Core
!generated/GenArt721Core2
!generated/GenArt721Core2PBAB
!generated/GenArt721CorePlus
!generated/MinterFilterV0
!generated/MinterDAExpV0
!generated/MinterDALinV0
!generated/MinterSetPriceERC20V0
!generated/MinterSetPriceV0
!generated/MinterDAExpV1
!generated/MinterDALinV1
!generated/MinterSetPriceERC20V1
!generated/MinterSetPriceV1
!generated/SeaportExchange
!generated/WyvernExchange