version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  test:
    docker:
      - image: "cimg/node:20.17"
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: "18.15"
      - node/install-packages:
          pkg-manager: yarn
      - run: node --version
      - run:
          name: Run tests
          command: yarn test
  test_e2e:
    docker:
      - image: "cimg/base:current"
    resource_class: medium+
    steps:
      - checkout
      - setup_remote_docker
      - node/install:
          install-yarn: true
          node-version: "18.15"
      - node/install-packages:
          pkg-manager: yarn
      - run: node --version
      - run:
          name: Run e2e tests
          command: yarn test:e2e:ci

workflows:
  run-ci:
    jobs:
      - test
      - test_e2e
